<div class="container">
  <div [ngClass]="{
    'vacio': listaReproduccion == null,
    'row' : listaReproduccion != null
  }">
    <table class="table table-borderless bg-light  ">
      <thead>
        <tr>
          <th scope="col" class="text-center">Estado</th>
          <th scope="col">Audio</th>
          <th scope="col">Autor</th>
          <th scope="col">Género</th>
          <th scope="col">Duración</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let audio of listaReproduccion">
          <th scope="row" class="text-center">{{ audio.pos }}</th>
          <td>{{ audio.nombre }}</td>
          <td>{{ audio.autor }}</td>
          <td>{{ audio.tipo }}</td>
          <td>{{ duracionMinutos(audio.duracion) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>