<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-light">Audios Radio IBPR</h2>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="['/agregar']"><i class="fa fa-plus-circle"></i> Agregar Audio</a>
    </div>
  </div>

  <div class="row m-3">
    <div class="col-md-6">
      <span class="text-light">Ver <strong>10</strong> audios</span>
    </div>
    <div class="col-md-6 text-right">
      <span class="text-light">Buscar <input type="text"></span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-borderless bg-light  ">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Autor</th>
            <th scope="col">Género</th>
            <th scope="col">Duración</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of audios">
            <td>{{cancion.nombre}}</td>
            <td>{{cancion.autor}}</td>
            <td>{{cancion.tipo}}</td>
            <td>{{duracionMinutos(cancion.duracion)}}</td>
            <td><i class=" iconos fa fa-trash" (click)="eliminar(cancion._id)"></i></td>
            <td><i class=" iconos fa fa-edit" (click)="modificar(cancion, content)"></i></td>
            <td><i class=" iconos fa fa-play-circle"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <span class="text-light">Mostrando 1 al 10 de canciones</span>
    </div>

    <div class="col-md-6">
      <a href="">
        &#60; Anterior 1 2 3 siguiente &#62;
      </a>
    </div>
  </div>
</div>



<!-- Modal de modificacion -->
<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Modificar Audio</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <!-- (click)="modal.dismiss('Cross click')" -->
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #cancionesForm="ngForm">
      <div class="form-group">
        <label for="nombre" class="text-light">Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre del audio" #nombre="ngModel"
          [(ngModel)]="cancion.nombre">
      </div>
      <div class="form-group">
        <label for="autor" class="text-light">Autor</label>
        <input type="text" class="form-control" name="autor" placeholder="Autor" [(ngModel)]="cancion.autor"
          #autor="ngModel">
      </div>
      <div class="form-group">
        <label for="genero" class="text-light">Tipo</label>
        <select class="form-control" name="tipo" [(ngModel)]="cancion.tipo" #genero="ngModel">
          <option>Lento</option>
          <option>Movido</option>
          <option>Predica</option>
          <option>Polka</option>
        </select>
      </div>
      <!--div class="form-group">
        <label for="audio" class="text-light">Agregue el audio</label>
        <input type="file" class="form-control-file text-light" (change)="onFileChange($event)">
      </div-->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="guardar()" >Guardar</button>
  </div>

</ng-template>
