<app-menu></app-menu>

<div class="container">
  <h1 class="text-center text-light">Agregar Audio</h1>
  <div class="row">
    <div class="col-md-6 clearfix m-auto">

      <form (ngSubmit)="onSubmit($event)" #cancionesForm="ngForm">
        <div class="form-group">
          <label for="nombre" class="text-light">Nombre</label>
          <input type="text" class="form-control" name="nombre" placeholder="Nombre del audio"  #nombre="ngModel" [(ngModel)]="audios.nombre" >
        </div>
        <div class="form-group">
          <label for="autor" class="text-light">Autor</label>
          <input type="text" class="form-control" name="autor" placeholder="Autor" [(ngModel)]="audios.autor" #autor="ngModel">
        </div>
        <div class="form-group">
          <label for="genero" class="text-light">Tipo</label>
          <select class="form-control" name="tipo" [(ngModel)]="cancion.tipo" #genero="ngModel">
            <option>Lento</option>
            <option>Movido</option>
            <option>Predica</option>
            <option>Polka</option>
          </select>
        </div>
        <div class="form-group">
          <label for="audio" class="text-light">Agregue el audio</label>
          <input type="file" class="form-control-file text-light" (change)="onFileChange($event)">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Guardar</button>
      </form>
    </div>
  </div>
</div>
