<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Programar canciones</h1>
    </div>
  </div>
  <div cdkDropListGroup class="row">
    <div class="example-container col-md-6">
      <h2 class="text-light">Canciones</h2>

      <div cdkDropList [cdkDropListData]="audios" (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="false" class="ml-3">
        <div class="items text-light" *ngFor="let audio of audios; index as i" cdkDrag>{{i+1}}-{{audio}}</div>
      </div>
    </div>

    <div class="example-container col-md-6">
      <h2 class="text-light">Reproductor</h2>
      <h5 class="text-light text-center">{{fecha}}</h5>

      <div cdkDropList [cdkDropListData]="reproductor" (cdkDropListDropped)="drop($event)" class="ml-3">
        <div class="items text-light" *ngFor="let reproduce of reproductor;index as i" cdkDrag>{{i+1}}-{{reproduce}}
        </div>
      </div>
      <div class="px-3 m-5">
        <button type="button" class="btn btn-primary btn-lg m-3">Guardar</button>
        <button type="button" class="btn btn-secondary btn-lg ml-5">Cancelar</button>
      </div>
    </div>
  </div>

  <!--table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th>Canciones del Dia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-light">Musica</td>
          </tr>
          <tr>
            <td class="text-center"><i class="fa fa-plus-circle" title="Agregar Canciones"></i></td>
          </tr>
        </tbody>
      </table-->

</div>